In [1]:
sc

In [2]:
purchases = spark.read.parquet('/tmp/purchases')

In [3]:
purchases.show()

+------+-----------------+---------------+--------------+--------------------+
|Accept|             Host|     User-Agent|    event_type|           timestamp|
+------+-----------------+---------------+--------------+--------------------+
|   */*|user1.comcast.com|ApacheBench/2.3|purchase_sword|2018-04-06 05:28:...|
|   */*|user1.comcast.com|ApacheBench/2.3|purchase_sword|2018-04-06 05:28:...|
|   */*|user1.comcast.com|ApacheBench/2.3|purchase_sword|2018-04-06 05:28:...|
|   */*|user1.comcast.com|ApacheBench/2.3|purchase_sword|2018-04-06 05:28:...|
|   */*|user1.comcast.com|ApacheBench/2.3|purchase_sword|2018-04-06 05:28:...|
|   */*|user1.comcast.com|ApacheBench/2.3|purchase_sword|2018-04-06 05:28:...|
|   */*|user1.comcast.com|ApacheBench/2.3|purchase_sword|2018-04-06 05:28:...|
|   */*|user1.comcast.com|ApacheBench/2.3|purchase_sword|2018-04-06 05:28:...|
|   */*|user1.comcast.com|ApacheBench/2.3|purchase_sword|2018-04-06 05:28:...|
|   */*|user1.comcast.com|ApacheBench/2.3|purchase_sword|2018-04-06 05:28:...|
|   */*|    user2.att.com|ApacheBench/2.3|purchase_sword|2018-04-06 05:29:...|
|   */*|    user2.att.com|ApacheBench/2.3|purchase_sword|2018-04-06 05:29:...|
|   */*|    user2.att.com|ApacheBench/2.3|purchase_sword|2018-04-06 05:29:...|
|   */*|    user2.att.com|ApacheBench/2.3|purchase_sword|2018-04-06 05:29:...|
|   */*|    user2.att.com|ApacheBench/2.3|purchase_sword|2018-04-06 05:29:...|
|   */*|    user2.att.com|ApacheBench/2.3|purchase_sword|2018-04-06 05:29:...|
|   */*|    user2.att.com|ApacheBench/2.3|purchase_sword|2018-04-06 05:29:...|
|   */*|    user2.att.com|ApacheBench/2.3|purchase_sword|2018-04-06 05:29:...|
|   */*|    user2.att.com|ApacheBench/2.3|purchase_sword|2018-04-06 05:29:...|
|   */*|    user2.att.com|ApacheBench/2.3|purchase_sword|2018-04-06 05:29:...|
+------+-----------------+---------------+--------------+--------------------+

In [4]:
purchases.registerTempTable('purchases')

In [5]:
purchases_by_example2 = spark.sql("select * from purchases where Host = 'user1.comcast.com'")

In [6]:
purchases_by_example2.show()

+------+-----------------+---------------+--------------+--------------------+
|Accept|             Host|     User-Agent|    event_type|           timestamp|
+------+-----------------+---------------+--------------+--------------------+
|   */*|user1.comcast.com|ApacheBench/2.3|purchase_sword|2018-04-06 05:28:...|
|   */*|user1.comcast.com|ApacheBench/2.3|purchase_sword|2018-04-06 05:28:...|
|   */*|user1.comcast.com|ApacheBench/2.3|purchase_sword|2018-04-06 05:28:...|
|   */*|user1.comcast.com|ApacheBench/2.3|purchase_sword|2018-04-06 05:28:...|
|   */*|user1.comcast.com|ApacheBench/2.3|purchase_sword|2018-04-06 05:28:...|
|   */*|user1.comcast.com|ApacheBench/2.3|purchase_sword|2018-04-06 05:28:...|
|   */*|user1.comcast.com|ApacheBench/2.3|purchase_sword|2018-04-06 05:28:...|
|   */*|user1.comcast.com|ApacheBench/2.3|purchase_sword|2018-04-06 05:28:...|
|   */*|user1.comcast.com|ApacheBench/2.3|purchase_sword|2018-04-06 05:28:...|
|   */*|user1.comcast.com|ApacheBench/2.3|purchase_sword|2018-04-06 05:28:...|
+------+-----------------+---------------+--------------+--------------------+

In [7]:
df = purchases_by_example2.toPandas()

In [8]:
df.describe()

,Accept,Host,User-Agent,event_type,timestamp
count,10,10,10,10,10
unique,1,1,1,1,10
top,*/*,user1.comcast.com,ApacheBench/2.3,purchase_sword,2018-04-06 05:28:13.104
freq,10,10,10,10,1

In [10]:
df.head()

,Accept,Host,User-Agent,event_type,timestamp
0,*/*,user1.comcast.com,ApacheBench/2.3,purchase_sword,2018-04-06 05:28:13.1
1,*/*,user1.comcast.com,ApacheBench/2.3,purchase_sword,2018-04-06 05:28:13.104
2,*/*,user1.comcast.com,ApacheBench/2.3,purchase_sword,2018-04-06 05:28:13.106
3,*/*,user1.comcast.com,ApacheBench/2.3,purchase_sword,2018-04-06 05:28:13.119
4,*/*,user1.comcast.com,ApacheBench/2.3,purchase_sword,2018-04-06 05:28:13.124